@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAuth.cshtml";
}

<!-- Contenido de pestaña-->
<div class="overflow-hidden">


    <div class="container scroll">
        <div class="row">
            <div class="col-md-12">
                <h4>Carreras:</h4>
                <br>
                <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                Licenciatura en Terapia Fisica
                            </button>
                        </h2>
                        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">


                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item" style="height: 2rem; padding: 0.5rem 0.25rem;"><a class="links" href="<?php echo constant('URL')?>terapia">TF21</a></li>
                                    <li class="list-group-item" style="height: 2rem; padding: 0.5rem 0.25rem;"><a class="links" href="<?php echo constant('URL')?>terapia">TF22</a></li>
                                    <li class="list-group-item" style="height: 2rem; padding: 0.5rem 0.25rem;"><a class="links" href="<?php echo constant('URL')?>terapia">TF51</a></li>
                                    <li class="list-group-item" style="height: 2rem; padding: 0.5rem 0.25rem;"><a class="links" href="<?php echo constant('URL')?>terapia">TF52</a></li>
                                    <li class="list-group-item" style="height: 2rem; padding: 0.5rem 0.25rem;"><a class="links" href="<?php echo constant('URL')?>terapia">TF81</a></li>
                                    <li class="list-group-item" style="height: 2rem; padding: 0.5rem 0.25rem;"><a class="links" href="<?php echo constant('URL')?>terapia">TF23</a></li>
                                    <li class="list-group-item" style="height: 2rem; padding: 0.5rem 0.25rem;"><a class="links" href="<?php echo constant('URL')?>terapia">TF54</a></li>
                                    <li class="list-group-item" style="height: 2rem; padding: 0.5rem 0.25rem;"><a class="links" href="<?php echo constant('URL')?>terapia">TF24</a></li>
                                    <li class="list-group-item" style="height: 2rem; padding: 0.5rem 0.25rem;"><a class="links" href="<?php echo constant('URL')?>terapia">TF53</a></li>
                                    <li class="list-group-item" style="height: 2rem; padding: 0.5rem 0.25rem;"><a class="links" href="<?php echo constant('URL')?>terapia">TF82</a></li>
                                </ul>




                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                    Ingeniería Biomédica

                                </button>
                            </h2>
                            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">

                                    <li class="list-group-item" style="height: 2rem; padding: 0.5rem 0.25rem;"><a class="links" href="<?php echo constant('URL')?>biomedic">2 DO</a></li>
                                    <li class="list-group-item" style="height: 2rem; padding: 0.5rem 0.25rem;"><a class="links" href="<?php echo constant('URL')?>biomedic">5 TO</a></li>
                                    <li class="list-group-item" style="height: 2rem; padding: 0.5rem 0.25rem;"><a class="links" href="<?php echo constant('URL')?>biomedic">8 VO</a></li>


                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                                    Ingeniería en Biotecnología
                                </button>
                            </h2>
                            <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">

                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item" style="height: 2rem; padding: 0.5rem 0.25rem;"><a class="links" href="<?php echo constant('URL')?>biotec">2 DO</a></li>
                                        <li class="list-group-item" style="height: 2rem; padding: 0.5rem 0.25rem;"><a class="links" href="<?php echo constant('URL')?>biotec">5 TO</a></li>
                                        <li class="list-group-item" style="height: 2rem; padding: 0.5rem 0.25rem;"><a class="links" href="<?php echo constant('URL')?>biotec">8 VO</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingFour">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                                    Ingeniería Financiera
                                </button>
                            </h2>
                            <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">

                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item" style="height: 2rem; padding: 0.5rem 0.25rem;"><a class="links" href="<?php echo constant('URL')?>financiera">LA-121-M</a></li>
                                        <li class="list-group-item" style="height: 2rem; padding: 0.5rem 0.25rem;"><a class="links" href="<?php echo constant('URL')?>financiera">LA-151-M</a></li>
                                        <li class="list-group-item" style="height: 2rem; padding: 0.5rem 0.25rem;"><a class="links" href="<?php echo constant('URL')?>financiera">IF-721-M</a></li>
                                        <li class="list-group-item" style="height: 2rem; padding: 0.5rem 0.25rem;"><a class="links" href="<?php echo constant('URL')?>financiera">IF-851-M</a></li>
                                        <li class="list-group-item" style="height: 2rem; padding: 0.5rem 0.25rem;"><a class="links" href="<?php echo constant('URL')?>financiera">IF-981-M</a></li>
                                        <li class="list-group-item" style="height: 2rem; padding: 0.5rem 0.25rem;"><a class="links" href="<?php echo constant('URL')?>financiera">IF-722-V</a></li>


                                    </ul>



                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingFive">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                                    Ingeniería en Software
                                </button>
                            </h2>
                            <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">

                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item" style="height: 2rem; padding: 0.5rem 0.25rem;"><a class="links" href="<?php echo constant('URL')?>soft">IS21</a></li>
                                        <li class="list-group-item" style="height: 2rem; padding: 0.5rem 0.25rem;"><a class="links" href="<?php echo constant('URL')?>soft">IS51</a></li>
                                        <li class="list-group-item" style="height: 2rem; padding: 0.5rem 0.25rem;"><a class="links" href="<?php echo constant('URL')?>soft">IS81</a></li>
                                        <li class="list-group-item" style="height: 2rem; padding: 0.5rem 0.25rem;"><a class="links" href="<?php echo constant('URL')?>soft">IS22</a></li>
                                        <li class="list-group-item" style="height: 2rem; padding: 0.5rem 0.25rem;"><a class="links" href="<?php echo constant('URL')?>soft">IS52</a></li>
                                        <li class="list-group-item" style="height: 2rem; padding: 0.5rem 0.25rem;"><a class="links" href="<?php echo constant('URL')?>soft">IS82</a></li>
                                    </ul>


                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingSix">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
                                    Licenciatura en Administración y Gestión de PYMES
                                </button>
                            </h2>
                            <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">


                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item" style="height: 2rem; padding: 0.5rem 0.25rem;"><a class="links" href="<?php echo constant('URL')?>pymes"> LGE-251</a></li>
                                        <li class="list-group-item" style="height: 2rem; padding: 0.5rem 0.25rem;"><a class="links" href="<?php echo constant('URL')?>pymes"> LGE-281</a></li>
                                        <li class="list-group-item" style="height: 2rem; padding: 0.5rem 0.25rem;"><a class="links" href="<?php echo constant('URL')?>pymes"> LGE-282</a></li>

                                    </ul>



                                </div>
                            </div>







                        </div>
                    </div>
                </div>
            </div>


        </div>

    </div>
</div>




			</div>
			</div>
		</div>
