@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAuth.cshtml";
}
<!-- Informacion - Inicio -->
<form class="container mt-3">
    <div class="row rowgreen"></div>
    <div class="row rowhite">
        <div class="col">
            <div class="row">
                <div class="col mt-3">
                    <h4>Datos Generales</h4>
                    <hr>
                </div>
            </div>
            <div class="row formcss">
                <div class="col-8">
                    <div class="row">
                        <div class="col-6">
                            <label>Numero de control</label>
                            <input type="text" class="form-control" disabled value="<?php echo $this->resultado_administrativo['Num_Control'];?>">
                        </div>
                        <div class=" col-6">
                            <label>Nombre</label>
                            <input type="text" class="form-control" disabled value="<?php echo $this->resultado_administrativo['Nombres'];?>">
                        </div>
                        <div class="col-6">
                            <label>Apellido paterno</label>
                            <input type="text" class="form-control" disabled value="<?php echo $this->resultado_administrativo['Apellido_paterno'];?>">
                        </div>
                        <div class="col-6">
                            <label>Apellido materno</label>
                            <input type="text" class="form-control" disabled value="<?php echo $this->resultado_administrativo['Apellido_materno'];?>">
                        </div>
                        <div class="col-6">
                            <label>Carrera</label>
                            <input type="text" class="form-control" disabled
                                   value="<?php echo $this->resultado_carrera['Nom_Carrera'];?>">
                        </div>
                        <div class="col-6">
                            <label>Estatus</label>
                            <input type="text" class="form-control" disabled value="<?php echo $this->resultado_estatus['Nombre'];?>">
                        </div>
                    </div>
                </div>
                <div class="col-4 imageform">
                    <img src="<?php echo URL;?>public/assets/fotos/<?php echo $this->resultado_administrativo['Imagen'];?>"
                         class="rounded-circle z-depth-1-half avatar-pic image-fluid" width="200"
                         alt="example placeholder avatar">
                </div>
                <div class="col-6">
                    <label>Fecha de nacimiento</label>
                    <input type="date" class="form-control" disabled value="<?php echo $this->resultado_generales['Fecha_Nac'];?>">
                </div>
                <div class="col-6">
                    <label>Pais</label>
                    <input type="text" class="form-control" disabled value="<?php echo $this->resultado_pais['Nombre'];?>">
                </div>
                <div class="col-6">
                    <label>Estado</label>
                    <input type="text" class="form-control" disabled value="<?php echo $this->resultado_estado['Nombre'];?>">
                </div>
                <div class="col-6">
                    <label>Municipio</label>
                    <input type="text" class="form-control" disabled value="<?php echo $this->resultado_municipio['Nombre'];?>">
                </div>
                <div class="col-6">
                    <label>CURP</label>
                    <input type="text" class="form-control" disabled value="<?php echo $this->resultado_generales['CURP'];?>">
                </div>
                <div class="col-6">
                    <label>Estado civil</label>
                    <input type="text" class="form-control" disabled
                           value="<?php echo $this->resultado_generales['Estado_Civil'];?>">
                </div>
                <div class="col-6">
                    <label>RFC</label>
                    <input type="text" class="form-control" disabled value="<?php echo $this->resultado_generales['RFC'];?>">
                </div>
                <div class="col-6">
                    <label>Genero</label>
                    <input type="text" class="form-control" disabled value="<?php echo $this->resultado_generales['Genero'];?>">
                </div>
            </div>
        </div>
    </div>
</form>
<br>
<!-- Informacion - Fin -->                