@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAuth.cshtml";
}
<!-- Informacion - Inicio -->
<form class="container mt-5" style="background-color: #f6f6f7;">
    <div class="row" align="center">
        <div class="col-12">
            <p style="font-size:18px; ">Elija el perfil a crear</p>
            <hr>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body mt-1">
                    <a href="<?php echo URL;?>perfil_administrador/agregar_alumno">
                        <img src="<?php echo URL;?>public/assets/img/alumno.png" class="img-fluid" width="100" height="100" align="center">
                        <p></p>
                    </a>
                    <h4 class="card-title mt-4">Alumno</h4>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body mt-1">
                    <a href="<?php echo URL;?>perfil_administrador/agregar_docente">
                        <img src="<?php echo URL;?>public/assets/img/docente.png" class="img-fluid" width="100" height="100" align="center">
                        <p></p>
                    </a>
                    <h4 class="card-title mt-4">Docente</h4>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body mt-1">
                    <a href="<?php echo URL;?>perfil_administrador/agregar_administrativo">
                        <img src="<?php echo URL;?>public/assets/img/administrativo.png" class="img-fluid" width="100" height="100"
                             align="center">
                        <p></p>
                    </a>
                    <h4 class="card-title mt-4">Administrativo</h4>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body mt-1">
                    <a href="<?php echo URL;?>perfil_administrador/agregar_director">
                        <img src="<?php echo URL;?>public/assets/img/director.png" class="img-fluid" width="100" height="100" align="center">
                        <p></p>
                    </a>
                    <h4 class="card-title mt-4">Director</h4>
                </div>
            </div>
        </div>
    </div>
    <br><br>
</form>
<!-- Informacion - Fin -->