<div class="cover dashboard-sideBar">
    <div class="full-box dashboard-sideBar-bg btn-menu-dashboard"></div>
    <div class="full-box dashboard-sideBar-ct">
        <!-- Opciones del menú de hamburguesa | MCPA -->
        <div class="caja-menu centrarvertical">

            <ul class="list-unstyled full-box dashboard-sideBar-Menu menu-menu">

                <li class="">
                    <a href="<?php echo URL.'perfil_director';?>">
                        <i class="zmdi zmdi-account"></i> Perfiles
                    </a>
                </li>
                <li>
                    <a href="<?php echo constant('URL'); ?>carreras">
                        <i class="zmdi zmdi-graduation-cap"></i> Carreras
                    </a>
                </li>
                <li>
                    <a href="<?php echo constant('URL'); ?>planes">
                        <i class="zmdi zmdi-library"></i> Planes
                    </a>
                </li>
                <li>
                    <a href="<?php echo constant('URL'); ?>asignaturas">
                        <i class="zmdi zmdi-book"></i> Asignaturas
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="zmdi zmdi-calendar"></i> Periodos
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="zmdi zmdi-accounts"></i> Grupos
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="zmdi zmdi-time"></i> Horarios
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="zmdi zmdi-border-color"></i> Evaluación docente
                    </a>
                </li>
            </ul>

        </div>
    </div>
</div>
