@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAuth.cshtml";
}


                <!-- Contenido de pestaña-->

                <div class="pestaña-contenido">
                    <section class="full-box">
                        <div class="contenido">


                            <!-- Pestaña | contenido de sección-->

                            <div class="contenido-box">
                                <div class=caja-home>
                                    <div class="row centrarvertical">
                                        <div class="col-sm-12 col-md-6">
                                            <div class="alert alert-primary" role="alert">
                                                <h4 class="alert-heading">¡Bienvenido!</h4>
                                                <p>Tu credencial de usuario tiene acceso a los siguientes opciones.</p>
                                                <hr>
                                                <p class="mb-0">PEU | Plataforma Educativa Universitaria.</p>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-md-6">
                                            <div class="image-aguila"></div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>

                    </section>
                </div>
